<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>weapon</title>
    <link rel="stylesheet" href="../style/yzweapon.css" type="text/css">
</head>
<body>
<h1>Hello World</h1>
<p>every day</p>
<button>button</button>
<input type="text" placeholder="please input"/>
<div class="toTop"></div>
<div>
    <p class="overflow">sssssssssssssssssqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</p>
</div>
<div>
    <p class="onerow">sssssssssssssssssqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</p>
</div>
<!--黑白图片-->
<img src="../image/dog.png" class="black-white" style="width:100px; height:80px;">
<!--在菜单上应用、取消应用边框-->
<nav class="nav">
    <ul>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
    </ul>
</nav>

<div class="container">
    <p>dsfafsdf</p>
    <table><tr><td>a</td><td>b</td></tr><tr><td>c</td><td>d</td></tr></table>
</div>

<ul>
    <li>apple</li>
    <li>banana</li>
</ul>

<table class="calendar">
    <tr>
        <td>item1</td>
        <td>item2</td>
        <td>item3</td>
    </tr>
</table>

<!--检测鼠标双击-->
<div class="test3">
  <span><input type="text" value=" " readonly="true" />
  <a href="http://renpingjun.com">Double click me</a></span>
</div>

<!--triangle-->
<div>
    <div class="arrow-top"></div>
    <div class="arrow-right"></div>
    <div class="arrow-down"></div>
    <div class="arrow-left"></div>
</div>

<h2 data-text="小米在印度打破了多项记录："></h2>

<a href="www.baidu.com" class="disabled">baidu</a>

<p class="blur">11月29日,北京市工商局官网发布“流通领域箱包类商品质量抽检结果公示”显示,KATE SPADE、H&M等8批箱包产品存在质量问题,涉及的主要问题为振荡冲击性能项目不符合相...</p>
</body>
</html>